![Pandas](https://cdn-images-1.medium.com/max/1600/1*5Uza5wbRmOGl-05h5J2pAw.jpeg "Pandas")

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../datasets/USlocalopendataportals.csv", sep=",")

In [6]:
df.head(5)

,Location,State,"Population (US Census, 2011)",Ownership?,Open Data Policy?,Link,Type
0,Alabama,AL,4802740,Government,No,http://open.alabama.gov/,US State
1,Alaska,AK,722718,Government,No,https://dof.doa.alaska.gov/,US State
2,Albuquerque,NM,539000,Government,No,http://www.cabq.gov/abq-data/,US City
3,Ann Arbor,MI,114925,Government,No,http://www.a2gov.org/data/,US City
4,Arizona,AZ,6482505,Government,No,http://openbooks.az.gov,US State

In [11]:
"arhawrha".count("a")

3

In [17]:
df["as"] = df.Location.str.lower().str.count("a")

In [20]:
df[["Type "]

0                 US State
1                 US State
2                  US City
3                  US City
4                 US State
5                 US State
6                  US City
7                  US City
8                  US City
9                US County
10                 US City
11                 US City
12                 US City
13               US County
14                 US City
15                 US City
16                US State
17                 US City
18                 US City
19                 US City
20                 US City
21                 US City
22                 US City
23                 US City
24             US Regional
25                 US City
26               US County
27                US State
28                US State
29                US State
              ...
138                US City
139              US County
140                US City
141                US City
142               US State
143               US State
144               US State
145               US State
146               US State
147               US State
148    Other State Related
149                US City
150               US State
151               US State
152               US State
153               US State
154                US City
155               US State
156              US County
157               US State
158               US State
159                US City
160                US City
161                US City
162                US City
163                US City
164               US State
165                US City
166               US State
167               US State
Name: Type , Length: 168, dtype: object

In [ ]:
# чтение CSV (крутые параметры: names, chunksize, dtype, sep)
df = pd.read_csv("../datasets/USlocalopendataportals.csv")
df.columns # названия колонок
df.head(15) # просмотр верхних 15 строчек

In [ ]:
df["column"].apply(lambda c: c / 100.0) # применение функции к колонке
df["column"].str.%строковая функция% # работа со строковыми колонками
df["column"].astype(np.float32) # привести колонку к нужному типу
# а как сделать через apply?

df.groupby("column").mean() # операция агрегации